section.aboutMe
    .aboutMe__wrap
        h3.aboutMe__title About me
        .aboutMe__subtitles
            p Hi, I'm Denis – Web Developer from Biysk. 
              | I'm interested in web, internet and everything connected with it. 
            p I'm studying at courses "HTML, CSS, JavaScript" in SoloLearn. 
            p Ready to implement excellent projects with wonderful people.