section
    .container
        .textBlock
            .textBlock__title
                h1 Denis Cherepanov
            .textBlock__info
                p Web Developer
                p 30 years old, Biysk
            .textBlock__switcher
                a(href="#") RU
                span  | 
                a(href="#") ENG
        .imageBlock
            img(src="" class="imageBlock__img" alt="Denis Cherepanov photo")