nav
    .navbar
        ul.navbar__list
            li
                a(href="#" class="navbar__list__link") Home
            li
                a(href="#" class="navbar__list__link") About me
            li
                a(href="#" class="navbar__list__link") Skills
            li
                a(href="#" class="navbar__list__link") Portfolio
            li
                a(href="#" class="navbar__list__link") Contacts