section.skills
    .skills__wrap
        h1.skills__title Skills
        p.skills__subtitle Technologies I work with
        .skills__tech
            .card
                .card__logo
                    img(src="", alt="React.js", srcset="" id="react" class="card__logo__image")
                .card__title
                    p React.js
            .card
                .card__logo
                    img(src="", alt="Node.js", srcset="" id="nodejs" class="card__logo__image")
                .card__title
                    p Node.js
            .card
                .card__logo
                    img(src="", alt="WordPress", srcset="" id="wordpress" class="card__logo__image")
                .card__title
                    p WordPress
            .card
                .card__logo
                    img(src="", alt="MongoDB", srcset="" id="mongodb" class="card__logo__image")
                .card__title
                    p MongoDB
            .card
                .card__logo
                    img(src="", alt="Express.js", srcset="" id="express" class="card__logo__image")
                .card__title
                    p Express.js

